/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

html {
  background-image: url("https://wallpapertag.com/wallpaper/full/a/9/4/560742-best-red-pokemon-wallpaper-1920x1080-notebook.jpg");
}
